html {
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.game-init-layout {
    display: flex;
    flex-direction: column;
}

.game-init-welcome-heading {
    font-size: 4rem;
}

.game-init-secondary-heading {
    font-size: 3rem;
}

.game-layout {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    width: 100vw;
}

.game-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.game-main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.game-buttons {
    display: flex;

}

.game-heading {
    font-size: 2.5rem;
    text-transform: uppercase;
}

.game-description {
    font-size: 1.8rem;

}



/*AUDIO TO TEXT GAME*/

.audio-to-text-start-game {
    display: flex;
    padding: 10rem;
    justify-content: center;
}

.audio-to-text-options {
    display: flex;
    width: 100%;
    height: 100%;
}

.audio-to-text-option {
    display: flex;
    align-items: center;
    width: 100%;
}

.audio-to-text-option input {
    margin-right: 1rem;
}

.audio-to-text-option:not(:last-child){
    margin-right: 1rem;
}

.audio-to-text-question {
    font-size: 1.6rem;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.audio-to-text-question:not(:last-child){
    margin-bottom: 1rem;
}


.audio-to-text-question-text {
    font-size: 2rem;
}



.audio-to-text-questions {
    display: flex;
    flex-direction: column;
}

/*.audio-to-text-questions>div {*/
/*  flex: 0 50%;*/
/*}*/

/*DRAG WORD TO PICTURE GAME */

.drag-word-to-picture-game-completed {
    display: flex;
    font-size: 4rem;
    text-transform: uppercase;
    margin: 10rem auto 0 auto;

}

.drag-word-to-picture-game-options {
    display: flex;
    width: 100%;
    margin-top: 5rem;
    align-items: center;
    justify-content: space-around;
}

.drag-word-to-picture-game-option {
    height: 15rem;
    width: auto;
}

.drag-word-to-picture-game-word {
    display: inline-block;
    font-weight: bold;
    font-size: 5rem;
    text-transform: uppercase;
    justify-content: center;
    border: 3px dotted black;
    padding: 1rem;
    border-radius: 5px;
}

.drag-word-to-picture-game-question {
    display: flex;
    padding: 2rem;
    flex-direction: column;
}

.drag-word-to-picture-game-wordbox-wrapper {
    display: flex;
    margin: 5rem auto;
    justify-content: center;
}

.drag-word-to-picture-game-start-btn-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    font-size: 3rem;
    height: 100%;
    margin: 10rem auto;
}

.match-opposite-words-game-wrapper {
    padding: 5rem 2rem;
}

.match-opposite-words-game-options {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.match-opposite-words-drop-zone {
    display: flex;
    flex-direction: column;
    border: 2px dotted black;

}

.match-opposite-words-drop-zone-img {
    display: flex;
    height: 15rem;
    width: 15rem;
    background-color: red;
}

.match-opposite-words-drop-zone-box {
    height: 15rem;
    width: 15rem;
}

.match-opposite-words-draggable-word {
    display: flex;
    height: 15rem;
    width: 15rem;
    background-color: green;
    border: 2px dotted black;
}

/*PICK THE RIGHT WORD GAME*/

.pick-the-right-word-game-wrapper {
    display: flex;
    margin: 15rem auto 0 auto;
}

.pick-the-right-word-game-question {
    display: flex;
    flex-direction: column;
}

.pick-the-right-word-game-question-image {
    display: flex;
    height: 15rem;
    width: 15rem;
    background-color: yellow;
}

.pick-the-right-word-game-question-options {
    display: flex;
    margin-top: 2rem;
    justify-content: space-around;
    font-size: 3rem;
}

/*IMAGE SEQUENCE GAME*/

.image-sequence-game-wrapper {
    display: flex;
    margin: 10rem 0;
}

.image-sequence-game-images-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.image-sequence-game-image {
    display: flex;
    height: 15rem;
    width: 15rem;
    background-color: red;
}

.image-sequence-game-buttons {
    display: flex;
    width: 100%;
    justify-content: center;
}

.image-sequence-game-image-drop-zone {
    display: flex;
    height: 15rem;
    width: 15rem;
    border: 2px dotted black;
}

/*MONTHS GAME*/

.months-game-drop-image {
    height: 45rem;
    width: auto;
}

.months-game-drop-container {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
    justify-content: center;
}

.months-game-seasons-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.months-game-season-drop-container {
    display: flex;
    flex-direction: column;
    border: 2px dotted black;
    height: 30rem;
    width: 15rem;
    margin: 0 2rem;
}

.months-game-draggable-month {
    display: inline-block;
    font-size: 3rem;
    padding: 1rem;
    border: 2px dotted black;
}

.months-game-draggable-month-container {
    display: flex;
    margin-top: 10rem;
    justify-content: center;
}

.months-game-season-drop-container-dropped-months {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}

/*WEEKDAYS GAME*/

.weekday-game-wrapper {
    display: flex;
    flex-direction: column;
    padding: 5rem 10rem;
}

.weekday-game-dropzones-container {
    display: flex;
    justify-content: space-between;
}

.weekday-game-draggable-weekday {
    display: flex;
    padding: 1rem;
    font-size: 1.5rem;
    border: 1px solid black;
}

.weekday-game-weekday-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.weekday-game-dropzone {
    display: flex;
    width: 10rem;
    padding: 2rem;
    background-color: lightgreen;
}