html {
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
}

.game-bg {
    position: absolute;
    z-index: -100000;
    height: 100%;
    width: auto;
    opacity: 0.5;
}

.game-logo {
    position: absolute;
    right: 4rem;
    top: 2rem;
    height: 10rem;
    width: auto;
}

.audio-btn {
    display: inline-block;
    vertical-align: middle;
    height: 2.2rem;
    width: auto;
}

.game-init-layout {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 8rem 12rem;
    flex-direction: column;
}

.game-init-tertiary-heading {
    font-size: 1.8rem;
}

.game-init__body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    flex-direction: column;
}

.game-init-form {
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,.2);
    border-radius: 8px;
    padding: 2rem 5rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40rem;
    margin: 5rem auto 0 auto;
}

.game-init-form__label {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.game-init-form .form-group {
    width: 100%;
}

.game-init-form input, select {
    border: 2px solid rgba(0,0,0,.8);
    font-size: 1.8rem;
    color: black;
    font-weight: 600;
    width: 100%;
    align-self: stretch;
}



.game-init-form button {
    width: 50%;
    font-weight: bold;
}

.game-status {
    display: flex;
    width: 100%;
    justify-content: center;
}
.game-status-bubbles {
    display: flex;
    width: 70%;
    justify-content: space-between;
}

.game-status-bubble {
    border-radius: 50%;
    position: relative;
    border: 1px solid rgba(0,0,0,.2);
    height: 5rem;
    width:5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    background-color: white;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0, .2);
    user-select: none;
    cursor: pointer;
    background-color: #FFC092;
}

.game-status-bubble-indicator {
    position: absolute;
    background-color: #1461d6;
    height: .5rem;
    width: .5rem;
    top: 0.5rem;
    border-radius: 50%;
}



.game-completed {
    display: flex;
    font-size: 3rem;
    white-space: nowrap;
    font-weight: bold;
    border-radius: 8px;
    border: 2px solid rgba(0,0,0,.15);
    padding: 1rem;
    margin-bottom: 5rem;
}

.game-init-welcome-heading {
    font-size: 4rem;
}

.game-init-secondary-heading {
    font-size: 3rem;
}

.game-assignment-heading {
    font-size: 2.5rem;
}

.game-status-wrapper {
    display: flex;
    margin-bottom: 5rem;
}

.game-status-state {
    display: flex;
}

.game-status-current-assignment {
    font-size: 2.5rem;
    font-weight: bold;
}

.game-layout {
    display: flex;
    flex-grow: 1;
    min-height: 100vh;
    padding: 3rem;
    width: 100vw;
}


.game-question-counter {
    display: flex;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.game-box {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}

.game-main-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    flex-grow: 1;
    padding: 5rem 8rem;
}

.game-buttons {
    display: flex;
    padding: 1rem 0;
}

.game-heading {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.game-description {
    display: flex;
    align-items: center;

    font-size: 1.8rem;
    font-weight: 600;
}

.game-start-btn-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    font-size: 3rem;
    height: 100%;
    margin: 10rem auto;
}



/*AUDIO TO TEXT GAME*/

.audio-to-text-start-game {
    display: flex;
    padding: 10rem;
    justify-content: center;
}

.audio-to-text-options {
    display: flex;
    width: 100%;
    height: 100%;
}

.audio-to-text-option {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
}

.audio-to-text-option input {
    margin-right: 1rem;
}

.audio-to-text-option:not(:last-child){
    margin-right: 1rem;
}

.audio-to-text-question {
    font-size: 1.6rem;
    border: 2px solid rgba(0,0,0,.2);
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: white;

}

.audio-to-text-question:not(:last-child){
    margin-bottom: 1rem;
}


.audio-to-text-question-text {
    font-size: 2rem;
}



.audio-to-text-questions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*.audio-to-text-questions>div {*/
/*  flex: 0 50%;*/
/*}*/

/*DRAG WORD TO PICTURE GAME */

.drag-word-to-picture-game-completed {
    display: flex;
    font-size: 4rem;
    text-transform: uppercase;
    margin: 10rem auto 0 auto;

}

.drag-word-to-picture-game-options {
    display: flex;
    width: 100%;
    margin-top: 5rem;
    align-items: center;
    justify-content: space-around;
}

.drag-word-to-picture-game-option {
    height: 15rem;
    width: auto;
}

.drag-word-to-picture-game-word {
    display: inline-block;
    font-weight: bold;
    font-size: 5rem;
    text-transform: uppercase;
    justify-content: center;
    border: 2px solid rgba(0,0,0,.2);
    padding: 1rem;
    border-radius: 5px;
    background-color: white;
}

.drag-word-to-picture-game-question {
    display: flex;
    padding: 2rem;
    flex-direction: column;
}

.drag-word-to-picture-game-wordbox-wrapper {
    display: flex;
    margin: 5rem auto;
    justify-content: center;
}

.drag-word-to-picture-game-start-btn-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    font-size: 3rem;
    height: 100%;
    margin: 10rem auto;
}

.drag-word-to-picture-game-drop-target-image {
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    transition: all .2s;
    justify-content: center;
    background-color: white;
    border-radius: 8px;
}

.drag-word-to-picture-game-drop-target-image:not(:last-child){
    margin-right: 2rem;
}

.match-opposite-words-game-wrapper {
}

.match-opposite-words-game-options {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.match-opposite-words-drop-zone {
    display: flex;
    flex-direction: column;
    border: 2px dotted black;

}

.match-opposite-words-drop-zone-img {
    display: flex;
    height: 15rem;
    width: 15rem;
    background-color: red;
}

.match-opposite-words-drop-zone-box {
    height: 15rem;
    width: 15rem;
}

.match-opposite-words-draggable-word {
    display: flex;
    height: 15rem;
    width: 15rem;
    background-color: green;
    border: 2px dotted black;
}

/*PICK THE RIGHT WORD GAME*/

.pick-the-right-word-game-wrapper {
    display: flex;
    margin: 15rem auto 0 auto;
}

.pick-the-right-word-game-question {
    display: flex;
    flex-direction: column;
}

.pick-the-right-word-game-question-image {
    display: flex;
    height: 20rem;
    width: 20rem;
    background-color: yellow;
}

.pick-the-right-word-game-question-options {
    display: flex;
    margin-top: 2rem;
    justify-content: space-around;
    font-size: 3rem;
}

/*IMAGE SEQUENCE GAME*/

.image-sequence-game-wrapper {
    display: flex;
    margin: 10rem 0;
    flex-direction: column;
}

.image-sequence-game-images-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.image-sequence-game-image {
    display: flex;
    height: 15rem;
    width: 15rem;
    background-color: rgb(17, 226, 63);
}

.image-sequence-game-buttons {
    display: flex;
    width: 100%;
    margin-top: 2rem;
    justify-content: center;
}

.image-sequence-game-image-drop-zone {
    display: flex;
    height: 15rem;
    width: 15rem;
}

/*MONTHS GAME*/

.months-game-drop-image {
    height: 45rem;
    width: auto;
}

.months-game-drop-container {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
    justify-content: center;
}

.months-game-seasons-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.months-game-season-drop-container {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,.15);
    border: 1px solid rgba(0,0,0,.2);
    font-size: 2rem;
    height: 30rem;
    width: 15rem;
    margin: 0 2rem;
    background-color: white;
}

.months-game-draggable-month {
    display: inline-block;
    font-size: 3rem;
    padding: 1rem;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid rgba(0,0,0,.15);
    background-color: white;
}

.months-game-draggable-month-container {
    display: flex;
    margin-top: 10rem;
    justify-content: center;
}

.months-game-season-drop-container-dropped-months {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    justify-content: center;
}

/*WEEKDAYS GAME*/

.weekday-game-wrapper {
    display: flex;
    flex-direction: column;
    padding: 5rem 10rem;
}

.weekday-game-dropzones-container {
    display: flex;
    margin-top: 15rem;
    justify-content: space-between;
}

.weekday-game-draggable-weekday {
    display: flex;
    padding: 1rem;
    justify-content: center;
    border-radius: 8px;
    color: white;
    background-color: #0275d8;
    font-size: 1.5rem;
}

.weekday-game-draggable-weekday:not(:last-child){
    margin-right: 2rem;
}

.weekday-game-weekday-container {
    display: flex;
    margin-top: 5rem;
    justify-content: center;
    transition: all .5s;
    width: 100%;
}

.weekday-game-dropzone {
    display: flex;
    width: 10rem;
    height: 5rem;
    align-items: center;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,.15);
    background-color: #53d7bc;
}


/*NUMBER SEQUENCING GAME */

.number-sequencing-game-numArray-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.number-sequencing-game-numArray {
    display: flex;
    margin: 1rem 0rem 5rem 0rem;
    width: 100%;
    justify-content: center;
}

.number-sequencing-game-number {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    margin: 0 1rem;
    min-width: 10rem;
    min-height: 10rem;
    font-size: 3rem;
    font-weight: bold;
    border: 3px solid rgba(0,0,0,.2);
    border-radius: 8px;
    justify-content: center;
    background-color: white;
}

.number-sequencing-game-draggable-number {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    margin: 0 1rem;
    min-width: 10rem;
    min-height: 10rem;
    font-size: 3rem;
    font-weight: bold;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 8px;
    justify-content: center;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,.2);
}

.number-sequencing-game-number-field {
    display: flex;
    align-items: center;
    border: 3px solid rgba(0,0,0,.2);
    border-radius: 8px;
    font-weight: bold;
    padding: 1.5rem;
    background-color: white;
    min-width: 10rem;
    min-height: 10rem;
    margin: 0 1rem;
    font-size: 3rem;
    justify-content: center;
}

.number-sequencing-game-number-dropped {
    padding: 0 !important;
    border: none !important;
}

.number-sequencing-game-static-number {
    background-color: rgb(233, 129, 21);
    color: white;
}

/* Calculation Game */

.calculation-game-option {
    display: flex;
    flex-direction: column;
    height: 13rem;
    width: 11rem;
    margin: 0 2rem 1rem 2rem;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,.15);
    font-size: 4rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.calculation-game-option-image {
    display: flex;
    background-color: green;
    border-radius: 8px 8px 0px 0px;
    font-size: 2rem;
    height: 100%;
    width: 100%;
}

.calculation-game-options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.calculation-game-task-wrapper {
    display: flex;
    justify-content: center;
}

.calculation-game-task {
    display: flex;
    font-size: 5rem;
    font-weight: bold;
    border: 2px solid rgba(0,0,0,.15);
    border-radius: 8px;
    justify-content: center;
    margin-top: 2rem;
    padding: 1rem;
    background-color: white;
}


/*Compare Quantities Game*/
.compare-quantities-game {

}


.compare-quantities-game-question {
    display: flex;
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.compare-quantities-game-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
}

.compare-quantities-game-item-box {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    border: 2px solid rgba(0,0,0,.2);
    border-radius: 8px;
    width: 100%;
}

.compare-quantities-game-item {
    display: flex;
    height: 10rem;
    width: 10rem;
}

/*ANALOGUE CLOCK GAME */

.analogue-clock-game-items {
    display: flex;
    width: 100%;
    justify-content: center;
}

.analogue-clock-game-item {
    display: flex;
    height: 22rem;
    margin: 0 3rem;
    width: auto;
}

.analogue-clock-game-question {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
}

.analogue-clock-game-question-text {
    display: flex;
    border: 2px solid rgba(0,0,0,.2);
    border-radius: 8px;
    padding: 1rem;
}


/*DOG CANVAS GAME*/

.dog-canvas-game-box-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 1000000;
}

.dog-canvas-game-box {
    display: flex;
    border: 2px solid rgba(0,0,0,.2);
    height: 60rem;
    width: 60rem;
}

.dog-canvas-game-buttons {
    display: flex;
    margin-left: 10rem;
    width: 20rem;
    align-items: center;
    flex-direction: column;
}

.dog-canvas-game-button {
    padding: 1rem;
    user-select: none;
    cursor: pointer;
    background-color: white;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,.2);
    border: 2px solid rgba(0,0,0,.2);
    border-radius: 8px;
    transition: all .2s;
    display: inline-block;
}

.dog-canvas-game-button:active {
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,.2);
}

.dog-canvas-game-button-icon {
    height: 6rem;
    width: auto;
}

.gridCanvas {
    position: relative !important;
    border: lightgrey 1px solid;
    border-radius: 5px;
    height: 50rem;
    width: 50rem;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}